<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>

<head th:replace="fragments/headers :: links">
</head>

<style>

textarea {
	height: 200px !important;
}
</style>
</head>
<body class="main_body">

	<div class="container-fluid">
		
	<div th:replace="fragments/topnav :: navbar">
	</div>
		
		<div class="container">
			<div class="card justify-content-center">
				<div class="card-header">Complain Insertion</div>
				<form>

					<div class="form-group">
						<label for="complain_category_label">Hello Adnan! Enter
							your Complain</label>
					</div>

					<div class="form-group">
						<label for="complain_category_label">Complain Category</label> <select
							class="browser-default custom-select">
							<option selected="">Open this select menu</option>
							<option value="1">One</option>
							<option value="2">Two</option>
							<option value="3">Three</option>
						</select>
					</div>

					<div class="form-group">
						<label for="exampleFormControlTextarea1">Enter Complain</label>
						<textarea class="form-control" id="exampleFormControlTextarea1"
							rows="3"></textarea>
					</div>

					<button type="submit" class="btn btn-primary float-right">Add
						Complain</button>
					<button type="submit" class="btn btn-info">Back</button>
				</form>
			</div>
			</div>
	</div>
	</body>
</html>
