<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
				xmlns:th="http://wwww.thymeleaf.org"
				 xmlns:sec="http://wwww.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
<head th:replace="fragments/headers :: links">
</head>

</head>
<body>
	<div th:replace="fragments/topnav :: navbar"></div>

	<div class="col-lg-12 d-flex justify-content-center">
		<div class="card login">
			<div class="card-header">Login Form</div>
			<form action="login" method="post">

			<!-- //////////// CSRF TOKEN ///////////// -->

				<input type="hidden" th:name="${_csrf.parameterName}"
					th:value="${_csrf.token}" />

			<!-- ////////////////////////////////////// -->

				<div th:if="${param.error != null}">
					
					<div class="alert alert-danger" role="alert">
  						Failed To Login
					</div>
					
					<div th:if="${SPRING_SECURITY_LAST_EXCEPTION != null}">
						Reason: <span th:text="SPRING_SECURITY_LAST_EXCEPTION.message"></span>
					</div>
				</div>
				<div th:if="${param.logout != null}">
				<div class="alert alert-primary" role="alert">
  						You have been logged out
				</div>
				</div>
				<div class="form-group">
					<label for="Username">Username</label> <input type="text"
						class="form-control" id="username" name="username"
						placeholder="Enter Username">
				</div>

				<div class="form-group">
					<label for="password">Password</label> <input type="password"
						class="form-control" id="password" name="password"
						placeholder="Enter Password">
				</div>

				<div class="form-group">
					<label for="password">Don't have account? <a href="register">Create
							Account</a></label>
				</div>

				<button type="submit" class="btn btn-primary btn_login">Login</button>
			</form>
		</div>
	</div>
	
	<div th:replace="fragments/footer :: footer">
	</div>
	
	<script th:if="${param.error != null}">
		document.querySelector(".login").style.height = "27rem";
		$(".alert-danger").fadeTo(2000, 500).slideUp(500, function(){
			 document.querySelector(".login").style.height = "22rem";
		    $(".alert-danger").slideUp(500);
		});
		window.history.replaceState({}, document.title, "/" + "cms/login");
	</script>
	
	<script th:if="${param.logout != null}">
		document.querySelector(".login").style.height = "27rem";
		$(".alert-primary").fadeTo(2000, 500).slideUp(500, function(){
			 document.querySelector(".login").style.height = "22rem";
		    $(".alert-primary").slideUp(500);
		});
		window.history.replaceState({}, document.title, "/" + "cms/login");
	</script>
</body>
</html>
