body{
	background-image: url('../img/background.jpg');
}

.navbar {
	background-color: #007bff !important;
}

.btn-primary {
	background-color: #007bff !important;
}

.btn-primary:hover {
	background-color: #1976d2 !important;
}

form {
	padding: 20px;
}

.card{
	box-sizing: border-box;
	margin-top: 20px;
	box-shadow: 0 1px 1px rgba(0,0,0,0.15), 0 2px 2px rgba(0,0,0,0.15), 0 4px 4px rgba(0,0,0,0.15), 0 8px 8px rgba(0,0,0,0.15);
}


nav{
box-shadow: 0 1px 1px rgba(0,0,0,0.15), 0 2px 2px rgba(0,0,0,0.15), 0 4px 4px rgba(0,0,0,0.15), 0 8px 8px rgba(0,0,0,0.15);
}

.card-header{
	font-weight: bold;
}

.main_body{
	background-color: #eeeeee;
}

.login {
	min-width: 20rem;
	height: 19rem;
}

.registration {
	width: 50rem;
	margin-bottom: 20px;
	
}

.col-lg-6 {
	padding-top: 10px;
}

.content{
	background-color: #e0e0e0;
	box-shadow: 0 1px 1px rgba(0,0,0,0.15), 0 2px 2px rgba(0,0,0,0.15), 0 4px 4px rgba(0,0,0,0.15), 0 8px 8px rgba(0,0,0,0.15);
}
